//* Page Transition -------------------- Start
.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
//* Page Transition -------------------- End

//* layouts-------------------------------- Start
// default.vue & paginate.vue
.v-main_wrap {
    padding: auto 0;
}
//* layouts-------------------------------- End

//* 移除 INPUT 數字預設的增減箭頭
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
//* 客製 scroll bar
::-webkit-scrollbar {
    width: 6px;
}
//* width
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
//* handle
::-webkit-scrollbar-thumb {
    background: #42A5F5;
    border-radius: 12px;
}
//* handle on hover
::-webkit-scrollbar-thumb:hover {
    background: #1e88e5;
}

//* pages/order ----------------------------------------------- Start
$letter-spacing: 0.125rem;
$tbody-td-padding: 10%;
$td-padding: 1.5rem 0;
//? only for RWD
$title-font-weight: 600;
$tbody-tr-border-color: #039BE5;

a {
    text-decoration: none;
}
table {
    width: 100%;
    // margin: auto;
    border-collapse: collapse;
    border-bottom: 4px solid;
    box-shadow: 2px 2px 4px #eceff1;
    th {
        letter-spacing: $letter-spacing;
        padding: 1rem;
    }
}
tbody {
    text-align: center;
    td {
        padding: $td-padding;
        font-weight: $title-font-weight;
        letter-spacing: $letter-spacing;
        // max-width: 200px;
    }
    tr {
        &:hover {
            transform: scale(1.035);
            transition: all .3s ease-out;
        }
        &:nth-child(even) {
            background: #fff;
        }
    }
}

@media (max-width: 768px) {
    table{ 
        width: 100%;
    }
    th {
        display: none;
    }
    tbody {
        tr {
            border-top: 4px solid $tbody-tr-border-color;
        }
        td {
            max-width: 100%;
            display: block;
            position: relative;
            text-align: right;
            padding-right: $tbody-td-padding;
            //* 除了最後一個元素之外，其餘的都要加上底線
            &:not(:last-child) {
                border-bottom: 1px solid #b0bec5;
            }
            //* 表格標題
            &::before {
                content: attr(data-title);
                position: absolute;
                font-weight: $title-font-weight;
                letter-spacing: $letter-spacing;
                padding-left: $tbody-td-padding;
                left: 0;
            }
            span {
                display: flex;
                flex-wrap: wrap;
                word-break: break-all;
                // padding-left: 40%; //! default
                justify-content: flex-end;
                align-items: center;
                // text-align: justify; //! default
                text-align: end; 
            }
        }
    }
}
//* i phone 5 SE 
@media (max-width: 320px) {
    //* 按鈕群組的 padding 為 0
    td:last-child {
        padding-right: 0;
    }
}
//* pages/order ----------------------------------------------- End
