.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

html,
body {
  overflow-x: hidden;
}

.v-main_wrap {
  padding: auto 0;
}

.main_view {
  padding-top: 10% !important;
}

@media (max-width: 1600px) {
  .main_view {
    padding-top: 10% !important;
  }
}

@media (max-width: 1400px) {
  .main_view {
    padding-top: 15% !important;
  }
}

@media (max-width: 950px) {
  .main_view {
    padding-top: 18% !important;
  }
}

@media (max-width: 768px) {
  .main_view {
    padding-top: 20% !important;
  }
}

@media (max-width: 700px) {
  .main_view {
    padding-top: 25% !important;
  }
}

@media (max-width: 580px) {
  .main_view {
    padding-top: 27% !important;
  }
}

@media (max-width: 375px) {
  .main_view {
    padding-top: 28% !important;
  }
}

@media (width: 414px) {
  .main_view {
    padding-top: 25% !important;
  }
}

@media (width: 320px) {
  .main_view {
    padding-top: 33% !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #42A5F5;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e88e5;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 4px solid;
  box-shadow: 2px 2px 4px #eceff1;
}

table th {
  letter-spacing: 0.125rem;
  padding: 1rem;
}

tbody {
  text-align: center;
}

tbody td {
  padding: 1.5rem 0;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

tbody tr:hover {
  transform: scale(1.05);
}

tbody tr:nth-child(even) {
  background: #fff;
}

@media (max-width: 768px) {
  th {
    display: none;
  }
  tbody td {
    display: block;
    position: relative;
    text-align: right;
    padding-right: 10%;
  }
  tbody td:not(:last-child) {
    border-bottom: 1px solid #b0bec5;
  }
  tbody td::before {
    content: attr(data-title);
    position: absolute;
    font-weight: 600;
    letter-spacing: 0.125rem;
    padding-left: 10%;
    left: 0;
  }
}
